
.side-container{
    position: absolute;
    display: flex;
    margin-top: 5px;
    right: -32%;
    width: 200px;
    height: 100%;
}

.sub-side-container {
    position: relative;
    width: 200px;
    height: 40%;
}

.sidemenu-container{
    margin: 0px 0px;
}


.menu-btn{
    cursor: pointer;
    margin: 18px 0px;
    padding: 10px 15px;
    min-width: 200px;
    background-color: #f8f7f4;
    border-bottom: 3px solid #384B60;
    border-right: 3px solid #384B60;
    border-top-right-radius:5px ;
    text-align: left;
    font-weight: 300;
}
.menu-btn > i{
    font-size: 18px;
    padding-left: 0px;
    width: 100%;
}

.menu-btn:hover{
    background-color: #e1e1e1;
}

.menu-btn:active {
    background-color:#384B60;
}
.menu-btn:active > i{
    color: white;
}

.sub-menu .menu-btn {
    padding: 5px 15px;
}

.sub-menu .menu-btn > i {
    font-size: 14px;
}

